<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.simulatedtradingsystem.mapper.CouponMapper">

    <update id="decreaseRemainingQuantity">
        UPDATE coupon
        SET remaining_quantity = remaining_quantity - #{quantity}
        WHERE id = #{couponId}
          AND remaining_quantity >= #{quantity}
    </update>

</mapper>
